/vendor
/public/db
/public/uploads
/node_modules
/public/build
/bootstrap/cache/*.php
/.env
/.phpunit.result.cache
/database/*.sqlite
/database/*.sqlite-*
/storage/pm-komdigi-5-2025-68-83.txt
/storage/app/uploads/*
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!.gitignore
